.formRegister .button {
	margin-top: 3%;
	white-space: pre-wrap;
	width: 78%;
}

.forget-text {
	margin-top: -5%;
	height: 70px;
	margin-bottom: 15px;
	padding-top: 10px;
	border-bottom: 1px solid $primary-color;
	background-color: $header-color;
	color: white;
	font-size: 17px;
}

.button.forget {
	width: 80%;
}

.forget-logo {
	top: 65px;
}
