@import "../variables/paletteColors";

.hr-login {
    color: $primary-color;
    background-color: $primary-color;
    border: none;
    height: 0.1em;
}

.button.forget {
    width: 42%;
    font-size: 1vw;
}

.formRegister {
    padding-bottom: 2%;
}
