extends ../layout/layout

block js
    script(src="../js/ajaxAccount.js")

block var
    - page = "account";

block content
    div(class="container-account-user")
        div(class="content-account-user")
            div(class="welcome-account") Bienvenue #{sessionLogin}
            div(class="text1-account")
                | Afin d'avoir accèes à toutes les fonctionnalités, merci de completer ton profil !
            hr(class="hr-login")
            div(class="select-photo-profil-text-account") Upload et choisi une photo pour ton profil (5 max)
            div(class="photos-user-account")
                if locals.photosUsers
                    for photo in photosUsers
                        img(class="photos-user", src=photo)
                else if locals.photosUser && locals.photosUser.length <= 5 || !locals.photosUser
                    div(class="upload-app", id="upload-app")
                        input(class="button input upload", id="my-file", type="file", accept="image/*", value="", onchange="getUploadPhotoUser()")
                        label(for="my-file")
                            img(class="input-file-trigger", src="/images/upload/upload-female.png")
                div(class=( locals.error ? "error red" : "error"), id="error") #{error}
            form(class="formAccount", id="formAccount")
                hr(class="hr-login")
                div(class="sex-user") tu est :
                    div(class="containeur-checkbox")
                        div(class="sex-user") un homme
                            input(class="input-sex-user-male checkbox-account", type="checkbox", name="input-sex-user1", value="1")
                        div(class="sex-user") une femme
                            input(class="input-sex-user-female checkbox-account", type="checkbox", name="input-sex-user2", value="2")
                div(class="orientation-user") tu recherche :
                    div(class="containeur-checkbox")
                        div(class="orientation-user") un homme
                            input(class="input-orientation-user checkbox-account", type="checkbox", name="input-orientation-user1", value="1")
                        div(class="orientation-user") une femme
                            input(class="input-orientation-user checkbox-account", type="checkbox", name="input-orientation-user2", value="2")
                div(class="biographie-account") Ta biographie
                    input(class="bio-account", type="text", name="bio-account")
                div(class="tags-account") Tags d'interets :
                    input(class="tags-input-account", type="text", name="tags-input-account")
                    div(class="button account") ajouter ce tag !
