extends ../layout/layout

block var
    - page = "account";

block content
    div(class="container-account-user")
        div(class="content-account-user")
            div(class="welcome-account") Bienvenue #{sessionLogin}
            div(class="text1-account")
                | Afin d'avoir accèes à toutes les fonctionnalités, merci de completer ton profil !
            div(class="photos-user-account") #{photosUsers}
                input(class="button input upload", type="file")
            form(class="formAccount", id="formAccount")
                div(class="sex-user") Vous êtes :
                    div(class="sex-user-male") un homme
                    input(class="input-sex-user", type="checkbox", name="input-sex-user1", value="1")
                    div(class="sex-user-male") une femme
                    input(class="input-sex-user", type="checkbox", name="input-sex-user2", value="2")
                div(class="orientation-user") Vous êtes intéréssé(é) par :
                    div(class="orientation-user-male") un homme
                    input(class="input-orientation-user", type="checkbox", name="input-orientation-user1", value="1")
                    div(class="orientation-user-male") une femme
                    input(class="input-orientation-user", type="checkbox", name="input-orientation-user2", value="2")
                div(class="biographie-account") Ta biographie
                    input(class="bio-account", type="text", name="bio-account")
                div(class="tags-account") Tags d'interets :
                    input(class="tags-input-account", type="text", name="tags-input-account")
                    div(class="button account") ajouter ce tag !
