@import "../variables/paletteColors";

.container-account-user {
  margin: 0% auto;
}

.content-account-user {
  margin: 0% auto;
  font-family: Indie Flower;
  background-color: rgba($primary-color-dark, 0.6);
  text-align: center;
  width: 60%;
}

.photos-user-account {
  position: relative;

  .upload {
    display: none;
    left: 5%;
  }

  .input-file-trigger {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    //width: 4%;
  }
  .container-photos {
    .div-photo-user {
      display: inline-block;
      width: 99px;
      height: 99px;
      background-position: center;
      /* Make the background image cover the area of the <div>, and clip the excess */
      background-size: cover;
      border: 2px solid #ddd; /* Gray border */
      border-radius: 50%; /* Rounded border */
      cursor: pointer;
      margin: 0 auto auto -3%;

      &:hover {
        border: 2px solid #ddba00;
      }
    }

    .div-container-interact{
      position: relative;

      .interact-photo {
        position: relative;

        .button, .del{
          display: inline-block;
          position: relative;
          width: auto;
          top: 75px;
          right: 83px;
        }

        .button, .profil{
          display: inline-block;
          position: relative;
          width: auto;
          top: 75px;
          right: 83px;
        }
      }
    }
  }
}

.get-img {
  display: inline-block;
}

#my-file {
  display: none;
}

.container-checkbox {
  width: 75%;
  display: inline-flex;
  position: relative;

  .sex-user, .orientation-user {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .checkbox-account {
    display: inline-block;
    position: relative;
    margin: 0% auto;
    width: 6%;
    margin-left: 8%;
  }
}