extends ../layout/layout

block var
    - page = "accueil";
    - noheader = true;

block content
    div(class="hash1") #FindLove
    div(class="hash2") #LoveYourImperfections
    div(class="hash3") #Beauty
    div(class="hash4") #FollowMe
    div(class="hash5") #FindYourSelf
    div(class="hash6") #Laugh
    div(class="hash7") #Play
    div(class="hash8") #MatchaLove