<script>document.write('<script src="http://'
|     + (location.host || 'localhost').split(':')[0]
|     + ':35729/livereload.js?snipver=1"></'
|     + 'script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
doctype 5
html(lang='fr')
    head
        title Matcha
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel="icon" type="image/png" href="")
        link(href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Cairo|Indie+Flower" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
        block head
    body
        div(class="content")
            block content
        div(class="footer")
            p &copy; 2017 - Made by Jmarsal