extends ../layout/layout

block js
    script(src="../js/ajaxLogon.js")

block var
    - page = "logon";
    - noheader = true;

block content
    div(class="error", id="error")
    div(class="containerRegister")
        form(class="formRegister", id="formRegister", method="post")
            div(class="loginRegisterText") Login
                input(class="loginRegisterInput", name="loginRegisterText", autofocus=true, autocomplete="username", minlength="3", maxlength="16")
            div(class="lastNameRegisterText") Nom
                input(class="lastNameRegisterInput", name="lastNameRegisterText", autocomplete="family-name")
            div(class="firstNameRegisterText") Prénom
                input(class="firstNameRegisterInput", name="firstNameRegisterInput", autocomplete="given-name")
            div(class="emailRegisterText") Email
                input(class="emailRegisterInput", name="emailRegisterInput", type="email", autocomplete="email")
            div(class="passwdRegisterText") Mot de Passe
                input(class="passwdRegisterInput", name="passwdRegisterInput", type="password", autocomplete="new-password")
            div(class="submitRegister")
                input(class="button", type="submit", value="Créer mon compte")

