extends ../layout/layout

block var
    - page = "profils";

block content
    div(class="container-profils-user")
        div(class="content-profils-user")
            p Bienvenue #{sessionLogin}