a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

/*
    Layout
 */

@import "layout/layout";
@import "tools/button";

/*
    All Pages
 */

// Accueil
@import "accueil/accueil";
@import "accueil/form";
@import "accueil/logon";
@import "accueil/login";
@import "accueil/forgetPasswd";
@import "accueil/reinitPasswd";

// Account

@import "account/account";