extends app_Layout
block head
    link(rel="stylesheet" href="")

block menu
    div(class="menu_header")
        ul
            li Parcourir
            li Recherche
            li Mon Compte
            li Logout

block content
    div(class="content")
        p #{title}