@import "../variables/colors";
@import "../variables/paletteColors";

html {
    margin: 0;
    padding: 0;
    background: url(/images/background/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-size: 2vw;
    font-family: "Comic Sans MS";
}

.site-container {
    height: 100%;
}

.site-pusher {
    height: 100%;
}

.header {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    z-index: 10;
    background-color: $primary-color-dark;
}

.header__logo {
    background-color: $primary-color;
    font-size: 1.5vw;
    font-weight: bold;
    float: left;
    padding: 0 25px;
    text-decoration: none;
    color: $divider-color;
    border-right: 1px solid $primary-color;
}

//                img {
//                    width: 100%;
//                }
//            }
//
.menu {
    float: left;
    //height: 100%;
    
    a {
        text-decoration: none;
        color: inherit;
        padding: 0 35px;
        border-right: 1px solid $primary-color;
        font-family: Indie Flower;
        font-size: 1.5vw;
        color: $primary-text-color;
        &:hover {
            color: $primary-color;
        }
        &.is-active{
            //padding-top: 0.5%;
            //padding-bottom: 0.5%;
            color: $primary-color-light;
        }
    }
    
    .default-img-user {
        position: relative;
        width: 5%;
        left: 2%;
        margin-bottom: -1%;
    }
}

.footer {
    color: $primary-text-color;
}

//
//            .bienvenue {
//                text-align: center;
//            }
//
//            .elems-app {
//                position: relative;
//                margin: 0% auto;
//
//                .video-containter {
//                    display: inline-flex;
//                    position: relative;
//                    margin: 0% auto;
//                    width: 100%;
//                    padding: 0;
//
//                    /* Filtres */
//                    .container-all-filters {
//                        display: block;
//                        margin-left: 4%;
//                        margin-right: -160px;
//
//                        /* Filtres sur image */
//                        .filters {
//                            position: relative;
//                            margin: 0% auto;
//                            margin-right: 200px;
//                            width: 350px;
//                            height: 80px;
//                            background: rgba($color_back, 0.9);
//                            border: 10px solid darken($color_back, 5);
//
//                            .filterHideButton {
//                                position: relative;
//                                cursor: pointer;
//                                margin: 0% auto;
//                                height: 100px;
//
//                                img {
//                                    width: 50px;
//                                    display: inline-block;
//                                    position: relative;
//                                    top: 15px;
//                                    margin-left: 60px;
//                                    margin-right: 30px;
//                                }
//
//                                .textFilter {
//                                    display: inline-block;
//                                    position: relative;
//                                    margin: 0% auto;
//                                }
//
//                                &:hover {
//                                    filter: invert(100%);
//                                    transition-duration: 5s;
//                                    filter: hue-rotate(360deg);
//
//                                    p {
//                                        filter: invert(100%);
//                                        transition-duration: 1s;
//                                    }
//                                }
//                            }
//
//                            a:hover {
//                                color: $color_button_hover;
//                            }
//
//                            .menu2 {
//                                display: none;
//                                position: relative;
//                                margin-top: -13px;
//
//                                .button {
//                                    animation-duration: 0.5s;
//                                    position: relative;
//                                    padding: 0;
//                                    padding-top: 18px;
//                                    margin: 0px auto;
//                                    width: 350px;
//                                    height: 65px;
//                                    font-size: 35px;
//                                    text-align: center;
//                                }
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}