@import "../variables/colors";
@import "../variables/paletteColors";

html {
	margin: 0;
	padding: 0;
	background: url(/images/background/background.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 2vw;
	font-family: "Comic Sans MS";
}

.site-container {
	height: 100%;
}

.site-pusher {
	height: 100%;
}

.header {
	top: 0;
	position: fixed;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	z-index: 10;
	background-color: $primary-color-dark;
}

.header__logo {
	background-color: $primary-color;
	font-size: 1.5vw;
	font-weight: bold;
	float: left;
	padding: 0 25px;
	text-decoration: none;
	color: $divider-color;
	border-right: 1px solid $primary-color;
	cursor: default;
}

//                img {
//                    width: 100%;
//                }
//            }
//
.menu {
	width: 100%;
	//float: left;
	//height: 100%;

	a {
		text-decoration: none;
		color: inherit;
		padding: 0 35px;
		border-right: 1px solid $primary-color;
		font-family: Indie Flower;
		font-size: 1.5vw;
		color: $primary-text-color;
		&:hover {
			color: $primary-color;
		}
		&.is-active {
			color: $primary-color-light;
		}
	}

	.default-img-user {
		display: inline-block;
		position: relative;
		background-position: center;
		background-size: cover;
		width: 35px;
		height: 32px;
		margin-bottom: -0.5%;
		left: 15px;

		&.fav {
			border: 2px solid #ddd; /* Gray border */
			border-radius: 50%; /* Rounded border */
			top: 5px;
			//margin-bottom: 0;
		}
	}
}

.footer {
	position: relative;
	bottom: 0px;
	//height: 100%;
	width: 100%;
	color: $primary-text-color;

	p {
		position: relative;
		padding: 0;
		//bottom: -650px;
		//margin-bottom: -50px;
	}
}

.round-nb {
	background: rgba(255, 0, 0, 0.6);
	border-radius: 100%;
	border: 1px solid white;
	position: absolute;
	left: 30px;
	top: 20px;
	padding: 10px 10;
}

.notif-img {
	display: inline-flex;
	position: relative;
	background-position: center;
	background-size: cover;
	width: 35px;
	height: 32px;
	margin-bottom: -0.5%;
	left: 8px;
	margin-left: -35px;
	top: 8px;
}

.nb {
	position: absolute;
	top: -21px;
	left: 4px;
	color: white;
	font-size: 20px;
}

//
//            .bienvenue {
//                text-align: center;
//            }
//
//            .elems-app {
//                position: relative;
//                margin: 0% auto;
//
//                .video-containter {
//                    display: inline-flex;
//                    position: relative;
//                    margin: 0% auto;
//                    width: 100%;
//                    padding: 0;
//
//                    /* Filtres */
//                    .container-all-filters {
//                        display: block;
//                        margin-left: 4%;
//                        margin-right: -160px;
//
//                        /* Filtres sur image */
//                        .filters {
//                            position: relative;
//                            margin: 0% auto;
//                            margin-right: 200px;
//                            width: 350px;
//                            height: 80px;
//                            background: rgba($color_back, 0.9);
//                            border: 10px solid darken($color_back, 5);
//
//                            .filterHideButton {
//                                position: relative;
//                                cursor: pointer;
//                                margin: 0% auto;
//                                height: 100px;
//
//                                img {
//                                    width: 50px;
//                                    display: inline-block;
//                                    position: relative;
//                                    top: 15px;
//                                    margin-left: 60px;
//                                    margin-right: 30px;
//                                }
//
//                                .textFilter {
//                                    display: inline-block;
//                                    position: relative;
//                                    margin: 0% auto;
//                                }
//
//                                &:hover {
//                                    filter: invert(100%);
//                                    transition-duration: 5s;
//                                    filter: hue-rotate(360deg);
//
//                                    p {
//                                        filter: invert(100%);
//                                        transition-duration: 1s;
//                                    }
//                                }
//                            }
//
//                            a:hover {
//                                color: $color_button_hover;
//                            }
//
//                            .menu2 {
//                                display: none;
//                                position: relative;
//                                margin-top: -13px;
//
//                                .button {
//                                    animation-duration: 0.5s;
//                                    position: relative;
//                                    padding: 0;
//                                    padding-top: 18px;
//                                    margin: 0px auto;
//                                    width: 350px;
//                                    height: 65px;
//                                    font-size: 35px;
//                                    text-align: center;
//                                }
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}
.container-Notifs {
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 40%;
	height: 410%;
	overflow-y: auto;
	overflow-x: hidden;
	// top: 136px;
	font-size: 0.5rem;
}
.containerOneNotifs {
	top: 70px;
	position: relative;
	display: block;
	cursor: pointer;
	// width: 100%;
	padding: 0 40;
	background-color: rgba($primary-color, 0.9);
	width: 85%;
	-webkit-transition: background-color 2s;
	transition: background-color 2s;
	&:hover {
		background-color: lighten(rgba($accent-color, 0.9), 10);
	}

	&.first {
		background-color: darken(rgba($primary-color, 0.9), 5);
		&:hover {
			background-color: lighten(rgba($accent-color, 0.9), 10);
		}
	}
}
.notif-img {
	display: inline-flex;
}
.notif {
	display: inline-flex;
	margin-left: 20px;
	color: white;
	font-family: Indie Flower;
}

.remove-Notifs {
	top: 0px;
	width: 99%;
	text-align: center;
	// width: 27.5%;
	margin: 0 auto;
	position: absolute;
	// left: 40%;
	// top: 510%;
	background-color: darken($primary-color, 20);
	// padding: 0 15.6%;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	color: white;
	font-family: Indie Flower;
	cursor: pointer;
	-webkit-transition: background-color 2s;
	transition: background-color 2s;

	&:hover {
		background-color: darken(red, 10);
	}
}
